<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hooooong.gallery">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 사진을 저장하기 위해 File 에 대한 권한 획득 설정 -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.hooooong.gallery.provider"  OR "${applicationId}.provider"-->
        <!-- 다른 APP 에서 Provider 를 사용할 수 있도록 하는 조건 : android:exported="false"-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- Provider 가 사용하는 파일의 경로 -->
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>

        </provider>
    </application>

</manifest>